<h2>New Book form</h2>

<form method="POST" action="/books">
  <div>
    <label for="book_name">Name of Book</label>
    <input type="text" name="book_name" id="book_name">
  </div>
  <div>
    <label for="book_author">Name of Author</label>
    <input type="text" name="book_author" id="book_author">
  </div>
  <div>
    <label for="cover_image">Cover Image</label>
    <input type="text" name="cover_image" id="cover_image">
  </div>
  <button class="button">Submit Book</button>
</form>
