<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Book Club App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css">
  </head>
  <body>
    <%= JSON.stringify(locals.user) %>
    <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li> <a href="/">Home</a></li>
        <li><a href="/books">Books</a> </li>
        <li><a href="/users">Users</a></li>
        <% if(locals.isLoggedIn){%>
            <li>Hi <%= locals.user.name %></li>
            <li><a href="/books/new">Add a new book</a> </li>
            <li><a href="/logout">Logout</a></li>
        <%} else {%>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Sign up</a></li>
        <% } %>

      </ul>
    </div>
  </div>
    <%- body -%>
  </body>
</html>
